<html>
<head>
	<title> ofmysize </title>
</head>

<body>
	<h6> products </h6>

	<% @products.each do |product| %>
		<img src= <%= product.image_url %> alt = "image" width = "200", height="200" >
		<%= product.name %>
		<br/>
	<% end %>

</body>
	
</html>